#alert{
    margin-bottom: 10%;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    animation-name: slideDown;
    margin-top: -18%;
}

@keyframes slideDown {
    0% {
      margin-top: -18%;
    }
    20% {
      margin-top: 0%;
    }
    21% {
      margin-top: 0%;
      animation-timing-function: linear;
    }
    75% {
      margin-top: 0%;
      animation-timing-function: ease-out;
    }
    100% {
      margin-top: -18%;
    }
  }

#hide{
    height: 10%;
}
  