#main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}

body{
    background-color: #e4ebff;
}

#loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        margin-top: 2vh;
    }
}